.Main {
  background: black;
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20rem;
  .note {
    width: 150px;
    height: 300px;
    font-size: 150%;
  }
  .score {
    width: 150px;
    height: 300px;
    font-size: 150%;
  }
}
