body {
  margin: 0;
  padding: 0;
  background-image: url("C:\Users\JHLIM\Desktop\react\project\src\floor.png");
  background-repeat: repeat-y;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
