.ScoreboardTemplate {
  width: 900px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-top: 1rem;
  border-radius: 25px;
  overflow: hidden;
  .content {
    background: #000000;
  }
}
